@font-face {
  font-family: "Inter";
  src: local("Inter"), url("assets/fonts/Inter-Regular.ttf") format("truetype"), url("assets/fonts/Inter-SemiBold.ttf") format("truetype");
}
:root {
  --primary-color: hsl(215 31% 21%);
  --secondary-color: hsl(0 0% 100%);
  --tertiary-color: hsl(200 24% 88%);
  --accent-color: hsl(227 92% 58%);
  --text-color: hsl(215 17% 45%);
  --font-weight--semi-bold: 600;
  --font-weight--regular: 400;
  --line-height--heading: 1.1;
  --line-height--body: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight--regular);
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

legend {
  width: 100%;
}

input {
  font-family: inherit;
  display: block;
}

label {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.not-visible {
  height: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  max-width: 35.25rem;
  margin-inline: 1rem;
  padding: 1.5rem;
}

.form__group {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.form__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -1.2px;
  margin-bottom: 1.5rem;
}

.form__input,
.form__input-unit {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -1.2px;
}

.form__input {
  border: 1px solid var(--tertiary-color);
  border-radius: 0.75rem;
  color: var(--primary-color);
  padding: 1.25rem 1.5rem;
  width: 100%;
}

.form__input-unit {
  color: var(--accent-color);
  position: absolute;
  right: 1.5rem;
}

.form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.calc {
  margin-bottom: 4.5rem;
}
.calc::before {
  background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0 0 35px 35px;
  content: "";
  height: 40rem;
  max-width: 61.125rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.calc-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding-top: 2.125rem;
}

.calc__header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 35.25rem;
  padding-inline: 1.5rem;
}
.calc__header h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -2.4px;
  line-height: var(--line-height--heading);
  margin-bottom: 1.5rem;
  text-align: center;
}
.calc__header .calc__sub-heading {
  color: var(--text-color);
  font-size: 1rem;
  line-height: var(--line-height--body);
  text-align: center;
}

.logo {
  width: 2.5rem;
  margin-bottom: 1.5rem;
}
