@font-face {
  font-family: "Inter";
  src: local("Inter"), url("assets/fonts/Inter-Regular.ttf") format("truetype"), url("assets/fonts/Inter-SemiBold.ttf") format("truetype");
}
:root {
  --primary-color: hsl(215 31% 21%);
  --secondary-color: hsl(0 0% 100%);
  --tertiary-color: hsl(200 24% 88%);
  --accent-color: hsl(227 92% 58%);
  --text-color: hsl(215 17% 45%);
  --transparent-blue: hsl(227 92% 58% / 15%);
  --font-weight--semi-bold: 600;
  --font-weight--regular: 400;
  --line-height--heading: 1.1;
  --line-height--body: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight--regular);
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

legend {
  width: 100%;
}

input {
  display: block;
  font-family: "Inter", sans-serif;
}

label {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.not-visible {
  height: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  margin-inline: 1rem;
  padding: 1.5rem;
}
@media (min-width: 48rem) {
  .form {
    max-width: 42.875rem;
  }
}

.form__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
  margin-bottom: 1.5rem;
}

.form__input,
.form__input-unit {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
}

.form__input {
  border: 1px solid var(--tertiary-color);
  border-radius: 0.75rem;
  color: var(--primary-color);
  padding: 1.25rem 1.5rem;
  width: 100%;
}
.form__input:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form__input-unit {
  color: var(--accent-color);
  position: absolute;
  right: 1.5rem;
}

.form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.radio-input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.radio-btn__item {
  position: relative;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  flex-basis: 50%;
  gap: 1.125rem;
}
.radio-btn__item:nth-child(2) > label:nth-child(2) {
  margin-right: 1rem;
}

.radio-btn__input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-content: center;
}
.radio-btn__input::before {
  border: 0.46875rem solid var(--accent-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0.53125rem;
  left: 0.53125rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
.radio-btn__input:checked {
  background-color: var(--transparent-blue);
  border: none;
}
.radio-btn__input:checked::before {
  transform: scale(1);
}
.radio-btn__input:hover {
  border: 1px solid var(--accent-color);
}

.radio-btn__label {
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: var(--font-weight--semi-bold);
  touch-action: manipulation;
}

.metric-units,
.imperial-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .metric-units,
  .imperial-group {
    flex-direction: row;
    gap: 1.5rem;
  }
}

.imperial-group {
  flex-direction: row;
}

.metric-group label,
.imperial-units legend {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: var(--line-height--body);
  margin-bottom: 0.5rem;
}

.form__output {
  background-color: var(--accent-color);
  border-radius: 1rem;
  color: var(--secondary-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .form__output {
    border-radius: 1rem 4.65625rem 4.65625rem 1rem;
    flex-flow: row;
  }
}

.form__output-instructions p:first-child {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
  margin-bottom: 1rem;
}
.form__output-instructions p:last-child {
  font-size: 0.875rem;
  font-weight: var(--font-weight--regular);
  line-height: var(--line-height--body);
}

.form__output-value label {
  font-size: 1rem;
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--line-height--body);
  margin-bottom: 0.5rem;
}
.form__output-value input {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 3rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.15rem;
  line-height: var(--line-height--heading);
  width: 100%;
}

.form__output-caption p {
  font-size: 0.875rem;
  line-height: var(--line-height--body);
}
.form__output-caption span:last-child {
  font-weight: var(--font-weight--semi-bold);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.calc {
  margin-bottom: 4.5rem;
}
.calc::before {
  background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0 0 35px 35px;
  content: "";
  height: 40rem;
  max-width: 61.125rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.calc-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding-top: 2.125rem;
}

.calc__header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 35.25rem;
  padding-inline: 1.5rem;
}
.calc__header h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.15rem;
  line-height: var(--line-height--heading);
  margin-bottom: 1.5rem;
  text-align: center;
}
.calc__header .calc__sub-heading {
  color: var(--text-color);
  font-size: 1rem;
  line-height: var(--line-height--body);
  text-align: center;
}

.logo {
  width: 2.5rem;
  margin-bottom: 1.5rem;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.results img {
  width: 23.4375rem;
}

.results__header {
  margin-bottom: 4rem;
}
.results__header h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.1rem;
  line-height: var(--line-height--heading);
  margin-bottom: 2rem;
  padding-top: 3rem;
}
.results__header .results__subheading {
  color: var(--text-color);
  font-size: 1rem;
  line-height: var(--line-height--body);
}

.results__list {
  background: linear-gradient(315deg, rgba(214, 230, 254, 0.25) 0%, rgba(214, 252, 254, 0.25) 100%);
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.results__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.results__list-item img {
  height: 4rem;
  width: 4rem;
  margin-bottom: 0.5rem;
}
.results__list-item h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
  line-height: var(--line-height--heading);
}
.results__list-item p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: var(--line-height--body);
}
