// ___________________________________________________________________
// Main Styles
// ___________________________________________________________________

// Calc Section
.calc {
  margin-bottom: 4.5rem;

  &::before {
    background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    border-radius: 0 0 35px 35px;
    content: '';
    height: 40rem;
    max-width: 61.125rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.calc-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding-top: 2.125rem;
}

.calc__header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 35.25rem;
  padding-inline: 1.5rem;

  h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.15rem;
    line-height: var(--line-height--heading);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .calc__sub-heading {
    color: var(--text-color);
    font-size: 1rem;
    line-height: var(--line-height--body);
    text-align: center;
  }
}

.logo {
  width: 2.5rem;
  margin-bottom: 1.5rem;
}

// Results Section
.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  img {
    width: 23.4375rem;
  }
}

.results__header {
  margin-bottom: 4rem;

  h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.1rem;
    line-height: var(--line-height--heading);
    margin-bottom: 2rem;
    padding-top: 3rem;
  }

  .results__subheading {
    color: var(--text-color);
    font-size: 1rem;
    line-height: var(--line-height--body);
  }
}

.results__list {
  background: linear-gradient(315deg, rgba(214, 230, 254, 0.25) 0%, rgba(214, 252, 254, 0.25) 100%);
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.results__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2.5rem;

  img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.075rem;
    line-height: var(--line-height--heading);
  }

  p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: var(--line-height--body);
  }
}

// Limits Section
.limits {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 90rem;
  padding: 0 1.5rem 6rem 1.5rem;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 2.5rem 6rem 2.5rem;
  }

  @media (min-width: 90rem) {
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 8.5rem 6rem 8.5rem;
  }
}

.limits__header {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;

  h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.1rem;
    line-height: var(--line-height--heading);
    margin-bottom: 2rem;
    text-align: center;

    @media (min-width: 90rem) {
      font-size: 3rem;
      letter-spacing: -0.15rem;
      text-align: left;
    }
  }

  p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: var(--line-height--body);
    text-align: center;

    @media (min-width: 90rem) {
      max-width: 55ch;
      text-align: left;
    }
  }

  @media (min-width: 48rem) {
    grid-column: span 4;
  }

  @media (min-width: 90rem) {
    padding-top: 7.5rem;
  }
}

.bg-shape-right {
  display: none;

  @media (min-width: 90rem) {
    display: block;
    grid-column: 2;
    margin-top: -6rem;
  }
}
