// ___________________________________________________________________
// Form Styles
// ___________________________________________________________________

.form {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  max-width: 42.875rem;
  padding: 1.5rem;

  @media (min-width: 90rem) {
    max-width: 35.25rem;
  }
}

.form__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
  margin-bottom: 1.5rem;
}

.form__input,
.form__input-unit {
  font-size: 1.5rem;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: -0.075rem;
}

.form__input {
  border: 1px solid var(--tertiary-color);
  border-radius: 0.75rem;
  color: var(--primary-color);
  padding: 1.25rem 1.5rem;
  width: 100%;

  &:hover {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
}

.form__input-unit {
  color: var(--accent-color);
  position: absolute;
  right: 1.5rem;
}

.form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.radio-input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.radio-btn__item {
  position: relative;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  flex-basis: 50%;
  gap: 1.125rem;

  &:nth-child(2) > label:nth-child(2) {
   margin-right: 1rem;
  }
}

.radio-btn__input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-content: center;

  &::before {
    border: 0.46875rem solid var(--accent-color);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0.53125rem;
    left: 0.53125rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  &:checked {
    background-color: var(--transparent-blue);
    border: none;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:hover {
    border: 1px solid var(--accent-color);
  }
}

.radio-btn__label {
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: var(--font-weight--semi-bold);
  touch-action: manipulation;
}

.metric-units,
.imperial-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @media (min-width: 42.875rem) {
    flex-direction: row;
    gap: 1.5rem;
  }
}

.imperial-group {
  flex-direction: row;
}

.metric-group label,
.imperial-units legend {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: var(--line-height--body);
  margin-bottom: 0.5rem;
}

.form__output {
  background-color: var(--accent-color);
  border-radius: 1rem;
  color: var(--secondary-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;

  @media (min-width: 42.875rem) {
    border-radius: 1rem 4.65625rem 4.65625rem 1rem;
    flex-flow: row;
  }
}

.form__output-instructions {
  p:first-child {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.075rem;
    margin-bottom: 1rem;
  }

  p:last-child {
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--body);
  }
}

.form__output-value {
  label {
    font-size: 1rem;
    font-weight: var(--font-weight--semi-bold);
    line-height: var(--line-height--body);
    margin-bottom: 0.5rem;
  }

  input {
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 3rem;
    font-weight: var(--font-weight--semi-bold);
    letter-spacing: -0.15rem;
    line-height: var(--line-height--heading);
    width: 100%;
  }
}

.form__output-caption {
  p {
    color: var(--secondary-color);
    font-size: 0.875rem;
    line-height: var(--line-height--body);
  }

  span:last-child {
    font-weight: var(--font-weight--semi-bold);
  }
}
