// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

:root {
  // Colors
  --primary-color: hsl(215 31% 21%);
  --secondary-color: hsl(0 0% 100%);
  --tertiary-color: hsl(200 24% 88%);
  --accent-color: hsl(227 92% 58%);
  --text-color: hsl(215 17% 41%); // Darkened color to pass AA contrast ratio
  --transparent-blue: hsl(227 92% 58% / 15%);
  // Text
  --font-weight--semi-bold: 600;
  --font-weight--regular: 400;
  // Line Height
  --line-height--heading: 1.1;
  --line-height--body: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight--regular);
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--line-height--heading);
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @media (min-width: 90rem) {
    text-align: left;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;

  @media (min-width: 90rem) {
    font-size: 3rem;
    letter-spacing: -0.15rem;
  }
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.075rem;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: var(--line-height--body);
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

legend {
  width: 100%;
}

input{
  display: block;
  font-family: 'Inter', sans-serif;
}

label {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.not-visible {
  height: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

// Screen reader styles
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
